.App {
  background: linear-gradient(to right, #3f87a6, #ebf8e1, #3b697c);
  width: 100vw ;
  margin: 0px;
  position: absolute;
  top: 0px;
  height:300%;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-weight: bolder;
  font-size: 100px;
  //margin: 20px 25px 40px 50px;
  margin:40px 300px 40px 300px;
  color: #1f184c;
  background-color:rgb(85, 115, 141);
  border: 9px solid;
  border-radius:20px;
}

.preference {
  display: flex;
  justify-content: center;
  font-size: 23px;

  h4 {
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    padding: 0 10px;
  }

  .active {
    text-decoration: underline;
  }
}
